
<html>
    <head>
        <title>Jinhee's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> c43c ivk3456vj mioj,ix243jknuium84cu823	, m,ox	32jx4ijiu huihu324uiu h3c4,kop'ko4v53oko;k3c24 hh x4123xoqkcr u324yg u </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>48588u843q5g5843quk34hucireopicokc,o,kewrtc,jerlijctjre;ajcawjct	 ci43jijtj,ctc,tlqjoctch43huc34ttu43,oipctq;hcmerta</p>
        </div>        
    </body>
</html>

